header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    padding: 1em;
    border-bottom: 2px solid #454545;
}

.logo-select a {
    display: flex;
}

.header-icons {
    display: flex;
    gap: 1em;
    align-items: center;
}

.information-icon-img {
    display: block;
}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--c-container);
    padding: 2em;
    border-top: 12px solid var(--c-pink);
    margin: 1em 1em;
    border-radius: 0.5em;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;

    list-style-type: none;
    margin: 0 1em;
    margin-bottom: 1em;
}

/* .partners-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
} */

.partners {
    display: flex;
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.25em;
    color: var(--c-text);
    text-decoration: none;
    background-color: var(--c-container);
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px var(--c-container-stroke);
    width: 100%;
    transition: 0.25s ease;
}

.partners:hover {
    border: solid 1px var(--c-pink);
}

/* Informatie pagina */

.top-container {
    grid-area: top;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.left-container {
    grid-area: left;
}

.right-container {
    grid-area: right;
}

.bot-container {
    grid-area: bot;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "top top"
    "left right"
    "bot bot";
    margin: 1em 1em;
    gap: 1em;
}

.text-image {
    height: 13em;
}

.top-container, .left-container, .right-container, .bot-container {
    padding: 2em;
    background-color: var(--c-container);
	/* border-top: 12px solid var(--c-pink); */
	border-radius: 0.5em;
}

span {
    color: var(--c-pink);
}

/* .text-container {
    max-width: 50em;
} */

.image-container {
    margin-left: auto;
    align-self: center;
}

@media only screen and (max-width: 800px) {
  .content-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "top"
    "left"
    "right"
    "bot";
  }

  .text-image {
    height: 10em;
    }
}